{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html {% if MIRROR %}class="mirror"{% endif %}>
<meta charset="UTF-8">
<head>
	<script type="text/javascript" src="{% static "frameworks/jquery/jquery.js" %}"></script>
	<script type="text/javascript" src="{% static "frameworks/jquery/jquery-ui.js" %}"></script>
	<script type="text/javascript">
		maxWidth = false;
		function toggleMaxWidth() {
			if (maxWidth) { $("#container").css("max-width","1000px"); }
			else          { $("#container").css("max-width","none"); }
			maxWidth = !maxWidth;
			if (env.editor) { env.editor.resize(); }
		}
	</script>

	<link type="text/css" rel="stylesheet" href="{% static "frameworks/jquery/jquery-ui-theme.css" %}" />
	<link type="text/css" rel="stylesheet" href="{% static "styles/style.css" %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
	{% block extrahead %}{% endblock %}
	<title>{{ site_name|default:"Praktomat" }} {% block title %}{% endblock %}</title>
</head>

<body>
	<div id="container">
		<div id="header"><div class="inner">
			<div id="title">
				<h1>
                    {{ SITE_NAME|default:"Praktomat" }}
                        <img src="{% static 'logo.svg' %}" height="60px" />
                </h1>
				{% comment %} the error500 template does not set SITE_NAME {% endcomment %}
			</div>
			<div id="user-tools">
				{% if user.is_authenticated %}
                    {% trans "Welcome, " %}{% firstof user.get_full_name user.username %}
					{% if user.is_shibboleth_user %}
					/ <a href="{% url "registration_view" %}">{% trans 'View Account' %}</a>
					{% else %}
					/ <a href="{% url "registration_change" %}">{% trans 'Change Account' %}</a>
					{% endif %}
					/ <a href="{% url "logout" %}">{% trans 'Log-out' %}</a><br/>
					{% if user.is_staff or user.is_trainer or user.is_coordinator %}<a href={% url "rating_overview" %}>{% trans "Rating overview"%}</a>
					{% if user.is_staff %} / <a href="{% url "admin:index" %}">{% trans 'Admin Panel' %}</a>	{%endif%} {%endif%}
					{% if user.is_tutor %} <a href={% url "tutorial_overview" %}>{% trans "My Tutorial"%}</a>{%endif%}
				{% else %}
					<a href="{{ LOGIN_URL }}">{% trans 'Login' %}</a>
					{% if REGISTRATION_POSSIBLE %}
						<a href="{% url "registration_register" %}">{% trans 'Register' %}</a>
					{%endif%}
				{%endif%}
			</div>
		</div></div>
		<div id="sub_header"><div class="inner">
				{% block breadcrumbs %}<a href={% url "task_list" %}><span class="icon icon-white ui-icon-home"></span>{% trans 'Home' %}</a>{% endblock %} <a href="#" onClick="toggleMaxWidth()"><span style="float:right" class="icon icon-white ui-icon-arrow-2-e-w"></span></a>
		</div></div>
		<div id="content">
			<noscript><div id="javascripterror" class="ui-widget ui-state-error ui-corner-all notification">
				<p><span class="ui-icon ui-icon-alert"></span>
				{% blocktrans %}<strong>Warning:</strong> This site is designed to use Javascript! Enabling it is advised.</p>{% endblocktrans %}
			</div></noscript>
			{% comment %} 4 use with messages framework
				<div class="ui-widget ui-state-highlight ui-corner-all notification">
					<p><span class="ui-icon ui-icon-info"></span>
					<strong>Hey!</strong> Sample ui-state-highlight style.</p>
				</div>
			{% endcomment %}
			{% block content %}{% endblock %}
		</div>
	</div>
	{% block footer_js %} {% endblock %}
</body>
</html>
