{% extends "base.html"%}

{% load i18n %}
{% load chunks %}

{% block breadcrumbs %}
	{{ block.super }} > {% trans 'Accept Disclaimer ' %}
{% endblock %}

{% block content %}

{% trans 'Before using this site, you have to accept the following disclaimer:' %}
<div class="important">
    <ul>
        <li>
            Ich weiß, dass ich nur Lösungen einreichen darf, die ich selbst und selbstständig erstellt habe.
        </li>
        <li>
            Das Einreichen fremder Lösungen, seien es auch teilweise Lösungen von Dritten, aus Büchern, dem Internet
            oder anderen Quellen ist ein Täuschungsversuch und führt zur Bewertung als "<strong>nicht bestanden</strong>".
        </li>
        <li>
            Auch die Beihilfe, wie die Weitergabe der eigenen Lösung oder von Teilen davon, kann als Täuschungsversuch
            gewertet werden.
        </li>
        <li>
            Mir ist bewusst, dass die "Aufgabe" bereits beim ersten Täuschungsversuch mit "<strong>nicht bestanden</strong>"
            bewertet wird.
        </li>
        <li>
            Wiederholtes Auffallen durch Täuschungsversuche kann zur Exmatrikulation führen.
        </li>
        <li>
            Ich erkläre, dass ich Programme und Daten von Dritten, die mir im Rahmen dieser Veranstaltung bekannt werden
            oder bekanntgemacht werden, vertraulich behandeln, nicht an andere weitergeben und nicht selbst verwerten werde.
        </li>
        <li>
            Ich weiß, dass Computer-bezogene Straftaten wie etwa Computersabotage oder das Ausspähen und Manipulieren
            von geschützten Daten zum Ausschluss aus der Veranstaltung sowie der Exmatrikulation und strafrechtlicher
            Verfolgung führen können. Bereits der Versuch ist strafbar.
        </li>
    </ul>
{% chunk "disclaimer" %}

<form method="post" action=".">
{% csrf_token %}
{{ form }}<br/>
<input type="submit" value="Submit">
</form>

{% endblock %}