{% load i18n%}
{% if filenames %}
    {{ filenames|length }} {% if not linker %} user-submitted {% endif %} files matching "{{regexp}}" found for compilation: {% for file in filenames%} {{ file }} &nbsp; {% endfor %}
{% else %}
    {% trans "No user-submitted files matching " %}"{{regexp}}"{% trans " found." %}
{% endif %}
{% if debug %}
{% if cmdline %}
<div>{{ cmdline|safe }}  </div>
{% endif %}
{% endif %}
{% if linker %}
{% if output %}
<div>Linker output:</div>
<pre>{{output|safe}}</pre>
{% else %}
<div>The Linker produced no messages.</div>
{% endif %}
{% else %}
    {% if output %}
<div>{% trans "Compiler output:" %}</div>
<pre>{{output|safe}}</pre>
{% else %}
<div>{% trans "The Compiler produced no messages." %}</div>
{% endif %}
{% endif %}
