{% extends "base.html"%}
{% load i18n %}
{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{{STATIC_URL}}frameworks/jquery.formset/jquery.formset.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}frameworks/jquery.loading-overlay/loadingoverlay.min.js"></script>
<script type="text/javascript">
$(function() {
	$('fieldset.module .form-row').formset({
		prefix: '{{ formset.prefix }}',
		deleteText: '',
		deleteCssClass: 'icon icon-orange ui-icon-circle-minus',
		addText: '',
		addCssClass: 'icon icon-orange ui-icon-circle-plus'
	});
})

$(function(){
	$('form').submit(function(){
		$.LoadingOverlaySetup({
			background : "rgba(3, 3, 3, 0.8)",
			image : "{{STATIC_URL}}/logo.svg",
			imageAnimation : "2.5s pulse",
            imageAutoResize : false,
			imageResizeFactor : 4,
			imageColor : "#4b70ad",
            text : "Please wait while your solution is examined.",
			textAnimation : "10.0s fadein",
			textColor : "#ffffff"
        });
		$.LoadingOverlay("show");
	});
});

$(document).ready(function(){
	$("#help_icon").tooltip({
		position:  "center left"
	});
})

</script>
{% endblock %}
{% block breadcrumbs %}
{{block.super}}
&gt; <a href={% url "task_detail" task_id=task.id%}>{{task.title}}</a>
&gt; {% if user.is_tutor or user.is_trainer %} <a href={% url "attestation_list" task.id %}>{% trans "My attestations" %}</a>
&gt; {{author}}'s {% trans "solutions" %}{% else %}{% trans "My solutions" %}{% endif %}
{% endblock %}

{% block content %}<div id='solution_upload'>

<h1>{{task.title}} {% if user.is_tutor or user.is_trainer %}{% trans "(as seen by " %}{{author}}){% endif %}</h1>

<div class='left'>
	{% if not task.expired or user.is_tutor or user.is_trainer %}
		<a>{%trans "Time left:" %} {{ task.submission_date|timeuntil }}</a>
		<h2>{%trans "Upload solution" %}</h2>
		<form enctype="multipart/form-data" method="post" action="" > {% csrf_token %}
			{% include "forms/formset_as_div.html" %}
			<input type="submit" value={% trans "upload" %} />
		</form>
	{% else %}
		<h2>{%trans "Upload solution" %}</h2>
		{%trans "The deadline has passed. Therefore (re)submission is not possible." %}
	{% endif %}
</div>

<div class='right'>
	<div id='help_icon'><span class="icon icon-orange ui-icon-info"></span></div>
	<div class="tooltip">
		<span class="icon ui-icon-bullet icon-red"></span> <a>{% trans 'Errors' %}</a><br/>
		<span class="icon ui-icon-bullet icon-orange"></span> <a>{% trans 'Warnings' %}</a><br/>
		<span class="icon ui-icon-bullet icon-green"></span> <a>{% trans 'No Warnings' %}</a><br/>
		<span class="icon ui-icon-script"></span> <a>{% trans 'Attest' %}</a><br/>
	</div>
	<h2>{% trans "Final Solution" %}</h2>
	{% if final_solution %}
		{% with final_solution as solution %}
			{% include "solutions/solution_list_inline.html" %}
		{% endwith %}
	{% else %}
		<span class="icon ui-icon-alert icon-red"></span> {% trans "There is no final solution." %}
	{% endif %}

	<h2>{% trans "Solution History" %}</h2>
	{% for solution in solutions %}
		{% include "solutions/solution_list_inline.html" %}
	{% empty %}
		<span class="icon ui-icon-info icon-orange"></span> {% trans "No solutions have been uploaded." %}
	{%endfor%}
</div>

<div class="simple_overlay" id="progress">
	<!-- spinner from http://ajaxload.info/ -->
	<img id="spinner" src="{{STATIC_URL}}images/loading.gif" alt="loading" />
	<p>{% trans "Please wait while your solution is examined." %}</p>
</div>

</div>{% endblock %}
